# B507: ssh_no_host_key_verification

```{eval-rst}
.. automodule:: bandit.plugins.ssh_no_host_key_verification
```
